/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
  
  .about-container {
    background: url(../img/yo.jpg) left top no-repeat;
  }
  
  .about-content {
    background: #fff;
  }
  
  .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
  }

  .about-text {
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }

  }

}

/* Services Section
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255 ,255 , .9), rgba(255, 255 ,255 , .9)), url("../img/services-bg2.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0 60px 0;
  
  .service-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .service-item {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    //display: inline-block;
  }

  .service-icon {
    float: left;
    background: $accent-color;
    padding: 16px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid $accent-color;
    
    i {
      color: #fff;
      font-size: 24px;
    }

  }
  
  .service-item:hover .service-icon {
    background: #fff;
    i {
      color: $accent-color;
    }

  }

  .service-title {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    a {
      color: #111;
    }

  }
  
  .service-description {
    margin-left: 80px;
    line-height: 24px;
  }
  
}

/* Subscribe Section
--------------------------------*/

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 80px 0;
  
  .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px;
    
    .details {
      height: 260px;
      background: #fff;
      display: table-cell;
      vertical-align: middle;
      opacity: 0;
      transition: 0.3s;
      text-align: center;
      
      h4 {
        font-size: 20px;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, -15px, 0);
        font-weight: 700;
        color: $a-color;
      }
      
      span {
        display: block;
        color: $text-color;
        font-size: 13px;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, 15px, 0);
      }
    }
    
    &:hover .details {
      opacity: 0.8;
      
      h4 {
        transform: translate3d(0, 0, 0);
      }
      span {
        transform: translate3d(0, 0, 0);
      }
    }

  }
}

/* Testimonials Section
--------------------------------*/


/* Team Section
--------------------------------*/
