<<<<<<< HEAD
/// Default color variables

$accent-color: #6f03eb;
$a-color: #873eda;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
=======
/// Default color variables

$accent-color: #6f03eb;
$a-color: #873eda;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
>>>>>>> 04b53bbc37bec0c13c19f8e168ceaf2233dd7049
$text-font: 'Open Sans', sans-serif;